<!doctype html>
<html lang="en"> 
<head>
<meta charset="utf-8"/>
<meta name="viewport" content="width=device-width,initial-scale=1, maximum-scale=1, user-scalable=no;"/>
<title>斗地主</title>
<script type="text/javascript" src="{{static_url('js/phaser.min.js')}}"></script>
<script type="text/javascript" src="{{static_url('js/phaser-input.min.js')}}"></script>
<script type="text/javascript" src="{{static_url('js/boot.js')}}"></script>
<script type="text/javascript" src="{{static_url('js/game.js')}}"></script>
<script type="text/javascript" src="{{static_url('js/rule.js')}}"></script>
<script type="text/javascript" src="{{static_url('js/player.js')}}"></script>
<script type="text/javascript" src="{{static_url('js/player_net.js')}}"></script>
<script type="text/javascript" src="{{static_url('js/net.js')}}"></script>
<style type="text/css">body{padding:0; margin:0;background-color: black;} #game{ margin:auto;}</style>
</head>
<body>
<div id="game"></div>
<div id="orientation"></div>
<input id="user" type="hidden" value="{{user}}">
<script>
(function () {
    var h = window.innerHeight * 960/window.innerWidth;
    if (h > 540) h = 540;
    var game = new Phaser.Game(960, h, Phaser.AUTO, 'game');
    game.state.add('Boot', PG.Boot);
    game.state.add('Preloader', PG.Preloader);
    game.state.add('Login', PG.Login);
    game.state.add('MainMenu', PG.MainMenu);
    game.state.add('Game', PG.Game);
    game.state.start('Boot');
})();
</script>
</body>
</html>
